* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 6rem auto;
  background-color: whitesmoke;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: fit-content;
  padding: 2rem;
  border-radius: 20px;
}

.task-screen input[type="search"] {
  width: 20rem;
  height: 2.5rem;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
input[type="search"]:focus {
  outline: none;
  background-color: white;
}
.task-screen #add-task {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
#add-task:hover {
  opacity: 0.9;
}
#add-task:active {
  opacity: 0.8;
}
.task-screen form {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
li {
  width: 23rem;
  height: 3rem;
  background-color: whitesmoke;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-family: cursive;
}
